name: Pack and publish nuget

on:
  push:
    branches:
      - main
  release:
    types:
      - published

jobs:
  build-pack:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install dotnet6
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 6.0.x
      - name: Install deps
        run: |
          dotnet restore
      - name: Build
        run: |
          dotnet build --configuration Release --no-restore
      - name: Pack
        run: |
          dotnet pack --configuration Release --no-restore --no-build

      - name: Versions
        run: |
          dotnet --version
          nuget

      - name: Publish
        run: |
          nuget setApiKey ${{ secrets.NUGET_API_KEY }} -Source https://api.nuget.org/v3/index.json
          nuget push src/**/bin/Release/*.nupkg -Source https://api.nuget.org/v3/index.json